*{
    padding: 0;
    margin: 0;
    background-color: #8430d9;
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 100pt;
    font-family: 'Oswald', sans-serif;
    color: #4cf592;
    
}

p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    color: #4cf592;
    padding: 2px;
}

#game{
    width: 400px;
    height: 500px;
    border: 10px solid black;
    margin: auto;
    background-color: white;
}

#character {
    width: 25px;
    height: 25px;
    background-color:red;
    border-radius: 50%;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 1000000;
}

.block{
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;  
    margin-top: -20px;
}

.hole {
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}